<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlugwiseImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PlugwiseImporter.Properties.Settings>
            <setting name="FacilityId" serializeAs="String">
                <value>20456</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="PlugwiseDatabasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="InsertUri" serializeAs="String">
                <value>http://www.solar-yield.eu/plant/insertdatadaily</value>
            </setting>
            <setting name="LoginUri" serializeAs="String">
                <value>http://www.solar-yield.eu/ajax/user/login</value>
            </setting>
        </PlugwiseImporter.Properties.Settings>
    </applicationSettings>
</configuration>